
/* -------------------------------------------- */
/*Basic setup*/
/* -------------------------------------------- */
html
{
    background-color: #fff;
    color:#555;
    font-weight: 300;

}

body
{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
/* -------------------------------------------- */
/*Header*/
/* -------------------------------------------- */
header
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/Foodbg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo
{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav
{
    float: right;
    list-style: none;
}
.main-nav li
{
    display: inline-block;
    margin-left: 40px;
    margin-top: 60px;
}
.main-nav li a{
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
.main-nav li a:hover
{
    border-bottom: 2px solid #fff;
}
/*----Herotext-----*/
.hero-text
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*-------h1------*/
h1
{
    margin: 0;
    color: #fff;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 15px;
}


/*---Buttons----*/
.btn-hero,.btn-hero:link
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 15px;
    color: #FFF;
    margin-right: 13px;
    transition: background-color 0.3s;
}

.btn-hero-full
{
    border: 1px solid #fff;
    background-color: rgb(124, 51, 23);
}
.btn-hero-ghost
{
    border: 1px solid #fff;
    color: #fff;
}

.btn-hero-full:hover,.btn-hero:active {
    background-color: #5f2712;
    color: #fff;
    border: 1px solid #fff;
}
.btn-hero-ghost:hover,.btn-ghost:active {
    background-color: #5f2712;
    color: #fff;
    border: 1px solid #fff;
}

.section-h2
{
    text-align: center;
    margin: 50px 0px;
}
.section-h3
{
    padding-left: 20px;
}
.section-p
{
    text-align: justify;
    line-height: 35px;
    padding: 20px;
}

.section-meals
{
    margin-top: 20px;
}
.meals-images
{
    list-style: none;
    width: 100%;
    overflow: auto;
    padding: 0;
    background-color: #000;
}
.meals-images li{
    display:block;
    width: 25%;
    float: left;
    overflow: hidden;
}
figure img
{
    opacity: 0.7;
    height: 350px;
    transform: scale(1.15);
    transition: transform 0.7s,opacity 0.5s;
}
figure img:hover
{
    opacity: 1;
    transform: scale(1.1);
}

